* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: arial rgb(255, 255, 255);
  font-size: 100%;
}

.photo {
  background: url('../photo/atmosphere.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.yoda {
  position: absolute;
  width: 500px;
  top: 30%;
  left: 10%;
}

.message {
  width: 550px;
  position: absolute;
  top: 35%;
  right: 32%;
}

@media screen and (max-width: 1750px) {
  .message {
    width: 550px;
    position: absolute;
    top: 35%;
    right: 25%;
  }
}

@media screen and (max-width: 1580px) {
  .message {
    width: 550px;
    position: absolute;
    top: 35%;
    right: 20%;
  }
}
