* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: arial rgb(255, 255, 255);
  font-size: 100%;
}

.photo {
  background: url('../photo/kino.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.message {
  width: 400px;
  position: absolute;
  top: 70%;
  right: 32%;
}

@media screen and (max-width: 1630px) {
  .container {
    font-size: 95%;
  }

  .message {
    width: 350px;
    position: absolute;
    top: 70%;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    font-size: 80%;
  }

  .message {
    width: 300px;
    position: absolute;
    top: 70%;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    font-size: 70%;
  }

  .message {
    width: 300px;
    position: absolute;
    top: 70%;
  }
}
